// functions  --------------------------------------------------------------------------------

// Variables  ---------------------------------------------------------------------------------
$v-forum-background: url(#{$forum_background}) !default;

// backgrounds --------------------------------------------------------------------------------

#main-outlet {
    background: white;
}

// body background ----------------------------------------------------------------------------

body {
	position: relative;
	background-attachment: scroll;
	background: transparent;
}

#forum-background,
body:before {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

body:before {
	display: block;
	content: "";
	width: 100vw;
	z-index: -2;
	background: white;
}

#forum-background {
	background: $v-forum-background;
	background-position: center center;
	background-size: cover;
	z-index: -1;
	min-width: 100vw;
	width: auto;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

// list controls ------------------------------------------------------------------------------
ol.category-breadcrumb {
    display: none;
}

.nav-pills > li > a {
    border: 1px solid #007aff;
    color: #007aff;
    background: transparent;
    border-radius: 50%;
    transition: background 0.15s;
}

.nav-pills > li.active > a {
    background: #007aff;
    color: white;
}
